annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==0.2.22
langsmith==0.1.93
orjson==3.10.6
packaging==24.1
pydantic==2.8.2
pydantic_core==2.20.1
PyYAML==6.0.1
requests==2.32.3
tenacity==8.5.0
typing_extensions==4.12.2
urllib3==2.2.2
